.body {
  padding: 30px;
}

.header {
  height: 85vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(214, 215, 226, 0.527),
      rgba(17, 38, 59, 0.507)
    ),
    url('../public/bg-el-amagros-el.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
  /* margin: 20px 20px 0 20px; */
  text-align: center;
}

.logo {
  height: 100px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  padding: 16px;
  border: none;
  border-radius: 24px;
}

/* .text-box a:hover {
  transform: translateY(-3px);
}

.text-box a::hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
} */

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  margin-bottom: 40px;
}

.heading-primary-main {
  display: block;
  font-size: 58px;
  font-weight: 400;
  letter-spacing: 50px;

  animation-name: movesInLeft;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
}

.heading-primary-sub {
  margin-top: 12px;
  display: block;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 10px;

  animation-name: movesInRight;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
}

.logo-links {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 16px 0 16px;
}

.btn--main {
  display: block;
  margin: 10px auto;
  width: 300px;
  animation-name: movesInTop;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
}
/* add animation for h1 */

@keyframes movesInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem);
  }

  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes movesInRight {
  0% {
    opacity: 0;
    transform: translateX(15rem);
  }

  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes movesInTop {
  0% {
    opacity: 0;
    transform: translateY(15rem);
  }
  80% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
