.body {
  padding: 30px;
}

.header {
  height: 85vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(214, 215, 226, 0.527),
      rgba(17, 38, 59, 0.507)
    ),
    url('../public/bg-el-amagros-el.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
  /* margin: 20px 20px 0 20px; */
  text-align: center;
}

.logo {
  height: 100px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  padding: 16px;
  border: none;
  border-radius: 24px;
}

/* .text-box a:hover {
  transform: translateY(-3px);
}

.text-box a::hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
} */

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  margin-bottom: 60px;
}

.heading-primary-main {
  display: block;
  font-size: 58px;
  font-weight: 400;
  letter-spacing: 50px;
}

.heading-primary-sub {
  display: block;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 10px;
}

.logo-links {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 16px 0 16px;
}
