.main {
  /* margin: 0px 20px 20px 20px; */
}

.section-about {
  background-color: #f7f7f7;
  padding: 100px 0;
}
.center-text {
  text-align: center;
}

.heading-secondary {
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: #695353;
  letter-spacing: 2px;
  font-size: 35px;
  margin-bottom: 30px;
  transition: all 0.2s;
}

.heading-secondary:hover {
  transform: scale(1.2);
}

.heading-tertiary {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
  font-size: 16px;
}

.paragraph:not(:last-child) {
  margin-bottom: 20px;
}

.row {
  max-width: 1244px;
  margin: 0 auto;
  display: flex;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
  margin-right: 6rem;
}

.composition {
  position: relative;
}

.composition__photo {
  width: 50%;
  height: 250px;
  box-shadow: 0 1.5rem 4rem rgba(#333, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}

.composition__photo--p1 {
  left: 8%;
  transform: all 3s;
  animation: carousel 1s ease-out;
}

.composition__photo--p2 {
  left: 20%;
  transform: all 3s;
  animation: carousel1 5s ease-out;
}

.composition__photo--p3 {
  right: 10%;
}
.composition__photo--p4 {
  right: 20%;
  /* transform: all 3s;
    animation: carousel2 5s ease-out; */
}

@keyframes carousel {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes carousel1 {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes carousel2 {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.section-features {
  min-height: 500px;
  margin-top: 20px;
  margin: 34px auto;
}
.features-row {
  padding-top: 18px;
  display: flex;
  justify-content: center;
  gap: 24px;
  text-align: center;
  flex-wrap: wrap;
}

.cards {
  height: 300px;
  width: 240px;
  border: 2px solid black;
  border-radius: 12px;
  padding: 12px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.cards h3 {
  height: 200px;
}

/* VISION */

.vision {
  padding-top: 52px;
  background-color: #f7f7f7;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.vision div {
  width: 70%;
  text-align: center;
  padding: 12px;
  line-height: 22px;
  margin: 26px 26px 12px 26px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
}

.vision div p {
  width: 50%;
  font-size: 18px;
}

.vision .skills {
  width: 80%;

  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.vision .skills .cards {
  text-align: start;
  height: 400px;
  padding: 24px;
  flex: 0 1 300px;

  display: flex;
  align-items: flex-start;
}
