.empPageContainer {
  height: 100vh;
  background-color: #728488;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.empContainer {
  padding: 24px;
  /* height: 100vh; */
}
