.trainerView h1 {
  color: #eeeeee;
  margin-bottom: 24px;
}

.trainerView form label {
  display: inline-block;
  font-weight: bold;
  width: 120px;
  color: #eeeeee;
  margin: 7px;
}

.trainerView form input:nth-child(2) {
  margin: 0;
}

.trainerView form input {
  margin: 0;
  padding: 4px;
  border-radius: 5px;
}

.trainerView form input:focus {
  border: none;
}

.trainerView form .btn-primary,
.trainerView form .btn-secondary {
  margin: 4px;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #eeeeee;
}

.trainerView form .btn-primary:hover,
.trainerView form .btn-secondary:hover {
  border: 1px solid #ffffff;
  color: #000000;
  cursor: pointer;
}

.trainerView form .btn-primary:hover {
  color: #fff;
  border: 1px solid #71acd3;
  background-color: #71acd3;
}

.trainerView form .btn-secondary:hover {
  color: #fff;
  border: 1px solid #b60202;
  background-color: #b60202;
}
